<head><title><%= @con="Edit Article"%></title></head>

<%= render 'form' %>
 
<span class="pull-right">
<i class="fa fa-arrow-left "></i>  
<%= link_to 'Back', articles_path,{:class => '' ,:style => 'color:#000000;'}%>
</span>